@import 'variables';
/* FOOTER */

footer {
    .footer {
        font-family: 'Bebas Neue', cursive;
        color: black;
        height: 14vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}