* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    padding: 90px 20px 0;
}

a {
    text-decoration: none;
    color: black;
    
}

a:hover {
    opacity: .5;
}

/*HEADER-NAVBAR*/

.header {
    background-color: #ffcc03;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 20px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-toggle {
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

@media (max-width: 768px) {
    body {
        padding-top: 70px 20px 0;
    }
    .header {
        height: 60px;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
    }
    
    .nav-link {
        color: black;
        text-decoration: none;
    }
    
    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #e2b500;
        position: fixed;
        left: 0;
        top: 60px;
        width: 35%;
        padding: 20px 0;
        
        height: calc(100% - 60px);
        overflow-y: auto;
        
        left: 100%;
        transition: left 0.3s;
        
    }
    
    .nav-menu-item {
        line-height: 70px;
    }
    
    .nav-toggle {
        display: block;
        cursor: pointer;
    }
    
    .nav-menu_visible {
        left: 0;
    }
    
}


/* BODY */

section {
background-color: rgb(236, 236, 236);
padding: 20px;
border-radius: 4px;
}

.section1 {
    display: grid;
    height: 75vh;
    margin: 20px 15%;
    grid-gap: 20px;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (4, auto);
}

.titulo-section1 {
    grid-column: 2/3;
    font-size: 25px;   
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.links-section1 {
    grid-column: 2/3;
    font-size: 25px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-content: center;

}

.texto-section1 {
    grid-column: 2/3;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.imagen-section1 {
    grid-row: span 1/3;
    display: flex;
    justify-content: center;
    align-content: center;
}
.section2 {
    display: grid;
    height: 75vh;
    margin: 20px 15%;
    grid-gap: 20px;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (4, auto);
}

.titulo-section2 {
    grid-column: 2/3;
    font-size: 25px;   
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.links-section2 {
    grid-column: 2/3;
    font-size: 25px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-content: center;

}

.texto-section2 {
    grid-column: 2/3;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.imagen-section2 {
    grid-row: span 1/3;
    display: flex;
    justify-content: center;
    align-content: center;
}





/* FOOTER */
.footer {
    font-family: 'Bebas Neue', cursive;
    color: black;
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


